In [19]:
import pandas as pd
import numpy as np

In [20]:
air = pd.read_csv("AirPassengers.csv")
air.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [21]:
air.columns = ['Month', 'Number_of_Passengers']
air.head()

     Month  Number_of_Passengers
0  1949-01                   112
1  1949-02                   118
2  1949-03                   132
3  1949-04                   129
4  1949-05                   121

In [22]:
air['Smooth.5'] = pd.ewma(air, alpha = .5).Number_of_Passengers
air.head()

AttributeError: module 'pandas' has no attribute 'ewma'

In [23]:
air['Smooth.5'] = air['Number_of_Passengers'].ewm(alpha=0.5).mean()
air.head()

     Month  Number_of_Passengers    Smooth.5
0  1949-01                   112  112.000000
1  1949-02                   118  116.000000
2  1949-03                   132  125.142857
3  1949-04                   129  127.200000
4  1949-05                   121  124.000000

In [24]:
air['Smooth.9'] = air['Number_of_Passengers'].ewm(alpha=0.9).mean()
air.head()

     Month  Number_of_Passengers    Smooth.5    Smooth.9
0  1949-01                   112  112.000000  112.000000
1  1949-02                   118  116.000000  117.454545
2  1949-03                   132  125.142857  130.558559
3  1949-04                   129  127.200000  129.155716
4  1949-05                   121  124.000000  121.815498